/* BASE STYLING */

* {
    color: whitesmoke;
    box-sizing: border-box;
}

body {
    /* width: 100vw;
    height: 100vh; */
    padding: 2rem;
    background-color: #000000;
}

#cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gradient-card {
    width: 500px;
    height: 500px;
    background-color: #00bbaa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.gradient {
    content: " ";
    /* width: 80%;
    height: 80%; */
}

/* ANIMATIONS */

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
    
}
@keyframes counter-spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg);
    }
    
}

/* Color-Wheel styling */

#color-wheel {
    position: relative;
    flex-basis: 500px;
    flex-shrink: 0;
    flex-grow: 0;
    aspect-ratio: 1 / 1;
    /* width: 500px;
    height: 500px; */
    background: conic-gradient(red, orange, yellow, green, blue, purple, red);
    animation: spin 20s linear 0s infinite normal;
}

#color-wheel-blocking {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 33%;
}

#color-wheel-border {
    background-color: #00000000;
    border: 2px solid wheat;
    width: 300px;
    height: 300px;
    top: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Downflow styling */

#downflow {
    /* Blue - 44FFFF // Green - 6EFDDC // Magenta - B464DF */
    width: 300%;
    height: 300%;
    position: absolute;
    left: -150%;
    top: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(purple, cyan, aquamarine, purple);
    animation: spin 20s linear 0s infinite normal;
    transform-origin: center;
}

#downflow-border {
    border: 2px solid black;
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    overflow: hidden;
}

#downflow-blocking {
    background-color: black;
    position: absolute;
    width: 90%;
    height: 90%;
}